<div class="container__big-card">
    <a href="#">
        <div class="image__big-card">
            <img src="https://www.morecap.com.br/assets/images/SM-placeholder.png" 
                 alt="" 
                 height="200px"
                 srcset="">
        </div>
        <div class="title__big-card">
            <h1> Lorem ipsum</h1>
        </div>
        <div class="description__big-card">
            <p>
               Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta non porro minus ex.
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, optio recusandae consequatur quos similique laudantium. 
               Velit magni non exercitationem, ipsa, ea, molestiae minima quidem consequuntur et cupiditate officiis mollitia culpa.
            </p>
        </div>
    </a>
</div>