.menu__title__container {
    color: #fff;
}

.menu__title__container > h1 {
    padding: 10px;
    font-size: 100px;
    display: flex;
    font-family: 'segoe UI';
    justify-content: center;
}

.menu__title__container > hr {
    margin-top: 5px;
    margin-bottom: 5px;
}