

<main>
    <app-menu-title></app-menu-title>

    <div class="container__articles">
        <div class="articles__main">
            <app-big-card 
                Id="1" photoCover="./assets/images/Foto.jpeg" 
                cardTitle="About me" 
                cardDescription="Hello, I am Emesson Silva, I am 21 and I live in Recife, Brazil. Currently, I am graduating in Analysis and Systems Development 
                                at Senac College.">
            </app-big-card>
        </div>
        <div class="articles__others">
            <app-small-card Id="2" photoCover="./assets/images/SpotifyPage.png" cardTitle="Spotify Page"></app-small-card>
            <app-small-card Id="3" photoCover="./assets/images/BuzzFeed.png" cardTitle="BuzzFeed Game"></app-small-card>
            <app-small-card Id="4" photoCover="./assets/images/ECommerce.png" cardTitle="E-Commerce Web"></app-small-card>
        </div>
    </div>
</main>


<!-- outra seção -->
<!-- <hr>
<div class="container__articles">
    <div class="articles__main">
        <app-big-card></app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
    </div>
</div> -->